#Poutre {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.Cadre {
    background-color: rgb(70, 70, 70);
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: rgb(70, 70, 70) solid 2px;
    border-radius: 15px;
    color: white;
    padding: 10px;
    font-size: 13px;
}

.Texte1 {
    padding: 5px;
}

.Texte2 {
    padding: 5px;
}

.Texte3 {
    padding: 5px;
}


@media screen and (min-width: 768px) {
    #Poutre {
        height: 550px;

    }
}

@media screen and (min-width: 1440px) {
    #Poutre {
        height: 700px;
    }
    .Cadre {
        font-size: 20px;
    }
}