.contact {
  color: white;
}
.contact-form {
  /* display: flex;
  align-items: center;
  flex-direction: column; */
  margin-inline: 15%;
  margin-block: 5%;
  border: solid 1px;
  border-radius: 20px;
}
.team {
  display: flex;
  justify-content: space-around;
  margin-bottom: 7rem;
  list-style: none;
}
.img-team {
  border-radius: 50%;
}
.contact-name {
  text-align: center;
  padding-top: 1rem;
  font: small-caps bold 24px/1 sans-serif;
}

@media screen and (min-width: 746px) {
  #contact-text {
    margin-block: 4rem;
    width: 60%;
    margin-inline: auto;
    text-align: center;
  }

  capture {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-inline-start: 5%;
  }
  section {
    margin-right: auto;
    margin-bottom: 2rem;
  }
  .capture {
    display: inline-flex;
  }
  .contact-lastname {
    margin-right: 1rem;
  }
  mail {
    margin-right: auto;

    margin-bottom: 2rem;
  }
  #contact-mail {
    width: 31.5rem;
  }
  contactselect {
    margin-right: auto;

    margin-bottom: 4rem;
  }
  #choicelist {
    width: 31.5rem;
  }
  textarea {
    border-radius: 10px;
    width: 31.5rem;
    padding-top: 20px;
  }
  message {
    margin-inline-start: 2%;
  }
}
@media screen and (max-width: 745px) {
  .contact-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-inline: 10%;
    margin-block: 15%;
  }
  #contact-text {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 95%;
    text-align: center;
  }
  #section {
    margin-inline-start: 5%;
    display: flex;
  }
  .contact-lastname {
    width: 45%;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
  .contact-firstname {
    width: 45%;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
  #contact-mail {
    width: 90%;
    margin-bottom: 1rem;
  }
  mail {
    margin-inline: 5%;
  }
  contactselect {
    margin-inline: 5%;
  }
  #choicelist {
    width: 90%;
    margin-bottom: 1rem;
  }
  textarea {
    border-radius: 10px;
    width: 90%;
    margin-bottom: 2rem;
  }
  textarea {
    margin-inline: 5%;
  }
  .img-team {
    width: 4rem;
  }
  .contact-name {
    font: small-caps bold 10px/1 sans-serif;
  }
  .team {
    margin-bottom: 3rem;
  }
}
