* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(45, 45, 45);
}

.footer {
  background-color: rgb(70, 70, 70);
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.firstRow {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.firstRow p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  text-align: center;
  color: white;
}

.firstRow img {
  max-height: 50px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(264deg)
    brightness(102%) contrast(105%);
}

.secondRow {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.secondRow a {
  text-align: center;
  width: 50%;
  text-decoration: none;
  color: white;
}

.link {
  text-align: center;
  width: 50%;
  text-decoration: none;
  color: white;
}

@media screen and (min-width: 475px) {
  .footer {
    flex-direction: row;
  }
}

@media screen and (min-width: 800px) {
  .footer {
    position: sticky;
  }
}
