#header-div {
  background-color: rgb(70, 70, 70);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
}

#header-barman {
  margin-left: 4rem;
  height: 2.5rem;
}
#header-logo {
  margin-right: 4rem;
}

@media screen and (max-width: 745px) {
  #header-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #header-barman {
    margin-left: 1rem;
    height: 1.5rem;
  }

  #header-logo {
    margin-right: 1rem;
    height: 3rem;
  }
}