#header-div {
  background-color: grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
}

#header-barman {
  background-color: grey;
  margin-left: 4rem;
  height: 2.5rem;
}
#header-logo {
  background-color: gray;
  margin-right: 4rem;
}

@media screen and (max-width: 800px) {
  #header-barman {
    margin-left: 1rem;
    height: 1.5rem;
  }

  #header-logo {
    margin-right: 1rem;
    height: 3rem;
  }
}